<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Step 1: 5 min
      </h1>
      <h2 class="subtitle">
      Take 2 deep breaths. Then think about the version of you that you want to become right now.
      </h2>
    </div>
  </div>
</section>

<section class="section">
I would like to fix my body, and get fit.<br>
I would like to make it in Germany. Currently I am on probation.<br>
I want my family to feel free. Might sound trivial to you, but it is burning to me.<br>
I would like to have connections that feel warm and nurturing.
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Step 2: 5 min
      </h1>
      <h2 class="subtitle">
      Break them down into 5-7 daily goals with number. Type them in in step 3.
      </h2>
    </div>
  </div>
</section>

<section class="section">
Get appointment with: general doctor, dentist, gynocologist, etc.<br>

50 reps per day: buy a yoga mat, go to the gym that is in the path of least resistant<br>

100 lines of code per day.<br>

3 pages of german: buy an A1 german book, copy the text<br>

30 min of breathing meditation, set up your home into your own safe space<br>

1 moment of honest and real connection with anyone.
</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Step 3: 5 min
      </h1>
      <h2 class="subtitle">
      Type in your goals here:<br>
      <i>Tip: There should be less than 10 goals.</i>
            </h2>
    </div>
  </div>
</section>

<section class="section">

<div class="rows">
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        <input type="number" class="input" placeholder="50" />
      </div>
      <div class="column">
        <input type="text" class="input" placeholder="reps, ENTER" />
      </div>
      <div class="column">
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        100
      </div>
      <div class="column">
        lines of code
      </div>
    <div class="column">
      <button class="button is-info"> edit </button>
      <button class="button is-warning"> delete </button>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        3
      </div>
      <div class="column">
        pages of German
      </div>
    <div class="column">
      <button class="button is-info"> edit </button>
      <button class="button is-warning"> delete </button>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        30
      </div>
      <div class="column">
        min of breathing meditation
      </div>
    <div class="column">
      <button class="button is-info"> edit </button>
      <button class="button is-warning"> delete </button>
    </div>
  </div>
</div>

</section>


<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Step 4: 5 min
      </h1>
      <h2 class="subtitle">
      Feel into the big picture, then rate the priority out of 10.
            </h2>
    </div>
  </div>
</section>

<section class="section">

<div class="rows">
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        50 reps
      </div>
      <div class="column">
        <input class="input" type="number" placeholder="10, ENTER">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        100 lines of code
      </div>
      <div class="column">
        8
      </div>
      <div class="column">
        <button class="button is-info"> edit </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        3 pages of German
      </div>
      <div class="column">
        9
      </div>
      <div class="column">
        <button class="button is-info"> edit </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        30 min of breathing meditation
      </div>
      <div class="column">
        5
      </div>
      <div class="column">
        <button class="button is-info"> edit </button>
      </div>
    </div>
  </div>
</div>


</section>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Step 5: 5 min everyday
      </h1>
      <h2 class="subtitle">
      Record the number. Today is ... Record your first day:<br>
      <i>Tip: Goals with higher priority score higher.</i>
            </h2>
    </div>
  </div>
</section>

<section class="section">
<div class="rows">
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        <input class="input" type="number" placeholder="30, ENTER">
      </div>
      <div class="column">
        out of 50 reps.
      </div>
      <div class="column">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        90
      </div>
      <div class="column">
        out of 100 lines of code.
      </div>
      <div class="column">
        <button class="button is-success"> done </button>
        <button class="button is-info">edit</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        3
      </div>
      <div class="column">
        out of 3 pages of German.
      </div>
      <div class="column">
        <button class="button is-success"> done </button>
        <button class="button is-info">edit</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns is-mobile">
      <div class="column">
        30
      </div>
      <div class="column">
        out of 30 min of breathing meditation.
      </div>
      <div class="column">
        <button class="button is-success"> done </button>
        <button class="button is-info">edit</button>
      </div>
    </div>
  </div>
</div>
</section>

<section class="section">
and here is your weekly chart:
</section>
<section class="section">

<%= form_for(Betum.new) do |f| %>
<div class="columns is-mobile">
<div class="column">
  Apply for beta, we are up for a chat:
  </div>
  <div class="column">
  <%= f.email_field :email, class: "input is-primary", placeholder: "Your email, please" %>
  </div>
  <div class="column">
  <%= f.submit "Sign up for beta", class: "button is-primary" %>
  </div>
  </div>
<% end %>
    
</section>


<section class="section">
    <div class="columns is-mobile">
        <div class="column">
            Otherwise:
        </div>
    <div class="column">  
        <button class="button is-info">Upgrade</button>
        <%= link_to '<button class="button">Log in</button>'.html_safe, controller: 'home', action: 'index' %>
    </div>
</div>
</section>